#modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #modal-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
  }

  #modal-content {
    position: absolute;
    background-color: white;
  }

  .deleteReview-btn{
    height: 30px;
    width: 100px;
    border-radius: 15px;
    justify-content: center;
    align-content: center;
    background-color: #ff6299;
    color: white;
    cursor: pointer;
  }

  .deleteReview-btn:hover{
    transition-property: background-color;
    transition-delay: 150ms;
    background-color: red;
  }

  .delete-modal{
    border-radius: 5px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
  }

  .del-Title{
    border-bottom: solid #b0b0b0;
  }

  .delReview-btn{
    width: 100px;
    margin-right: 10px;
    border-radius: 5px;
    color: white;
    background-color: #ff6299;
    cursor: pointer;
  }

  .delReview-btn:hover{
    transition-property: background-color;
    transition-delay: 150ms;
    background-color: red;
  }

  .cancleRev-btn{
    width: 100px;
    margin-right: 10px;
    border-radius: 5px;
    color: white;
    background-color: #ff6299;
    cursor: pointer;
  }