.spotdetail-images{
  background-color: aqua;
  display: grid; 
  grid-auto-columns: 1fr; 
  grid-template-columns: 1fr .6fr 0.6fr; 
  grid-template-rows: 1fr 1fr; 
  gap: 5px 5px; 
  grid-template-areas: 
    "first sec third"
    "first forth fifth"; 
}



.pic0{
  width: 500px;
  height: 800px;
}
.picdiv0{
  grid-area: first;
}
.picdiv1{
  grid-area: sec;
}
.picdiv2{
  grid-area: third;
}
.picdiv3{
  grid-area: forth;
}
.picdiv4{
  grid-area: fifth;
}
.pic1{
  width: 300px;
  height: 300px;
}
.pic2{
  width: 300px;
  height: 300px;
}
.pic3{
  width: 300px;
  height: 300px;
}
.pic4{
  width: 300px;
  height: 300px;
}

