.spotdetail-container {  display: grid;
    grid-template-rows: 0.4fr 1.7fr 0.8fr 1.1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
  }

  .spotdetail-state-city-country { grid-area: auto / auto / auto / auto; }

  .spotdetail-images { grid-row-start: auto; }

  .spotdetail-details { grid-row-start: auto; }

  .spotdetail-reviews { grid-area: 4 / 1 / 5 / 2; }
