.hidden {
    display: none;
}

.navigation-container {  
    display: grid;
    height: 50px;
    padding-bottom: 5px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #b0b0b0;
    margin-bottom: 5px;
    /* background-color: rgb(13, 58, 58); */
    grid-template-columns: 2.2fr 0.3fr 0.15fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "Home create-new-spot dropdown";
}

.profile-dropdown{
    position: absolute;
    z-index: 1;
    right: 10px;
    background-color: white;
    box-shadow: 2px 2px 2px 2px rgb(0 0 0 / 20%);
    border-radius: 10px;
    padding-right: 5px;
    padding-left: 5px;
    /* align-content: center; */
    padding-top: 10px;
    padding-bottom: 10px;
}

ul{
    list-style-type: none;
}

.sign-in-main{
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    border-radius: 5px;
    /* background-color: aqua; */
    width: 100px;
    display: flex;
    padding-left: 5px;
}

.sign-in-main:hover{
    background-color: #ff6299;
    color: white;
    transition-delay: 150ms;
    transition-property: background-color, color, color;
}

.profile-btn{
    grid-area: dropdown;
    /* background-color: aqua; */
    height: 100%;
    align-content: center;
}

.profile-btn-btn{
    height: 60%;
    display: flex;
    gap:5px;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
}

.profile-btn-btn:hover{
    box-shadow: 2px 2px 2px 2px rgb(0 0 0 / 20%);
    transition-delay: 150ms;
    transition-property: box-shadow;
}

.airbnb-logo{
    grid-area: Home;
    /* background-color: aquamarine; */
    padding-left: 15px;
    align-content: center;
}

.logo{
    /* background-color: #F7F7F7; */
    font-weight: bolder;
    font-size: large;
}

.airbnb-your-home{
    /* background-color: aqua; */
    align-content: center;
    font-weight: bold;
}

.user-drop-down{
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
}

.user-drop-logout{
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    background-color: #ff6299;
    color: white;
}